body {
	height: 100vh;
	width: 100vw;
	display: flex;
}
div {
	height: 100vh;
	width: calc(100vw/3);
	display: block;
}

.sky {
	height:25vh;
	width: calc(100vw/3);
	background-image: url("image/sky.png");
}

.water {
	height:75vh; 
	width: calc(100vw/3);
}

.ice {
	height:25vh; 
	width: calc(100vw/3);
	
}

.home{
	height: 25vh;
	width: calc(100vw/3);
}
