body {
	height: 100vh;
	width: 100vw;
	display: flex;
}
div {
	height: 100vh;
	width: calc(100vw/3);
	display: block;
}

.sky {
	height:25vh;
	width: calc(100vw/3);
	max-height:100%;
	max-width:100%;
}

.water {
	height:75vh; 
	max-height:100%;
	max-width:100%;
}

.ice {
	height:18vh; 
	width: calc(100vw/3);
	
}

.home {
}

.scrat{
	height: 21vh;
	width: calc(100vw/3);
}
